*{
  box-sizing: border-box;
}
.landingpageContainer{
  background: url('/background.png');
  background-repeat: no-repeat;
  background-size:100% 100%;
  padding: 1rem;
}
.navHeader{
  padding-inline: 1.2rem;
}